<div class="text-center">
  <div class="card mt-3 mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pedidos</h5>
      <p class="card-text">Veja os pedidos aqui
      </p>
      <a routerLink="/Pedidos" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card mt-3 mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Produtos</h5>
      <p class="card-text">Veja os produtos aqui
      </p>
      <a routerLink="/Produtos" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card mt-3 mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Clientes</h5>
      <p class="card-text">Veja os clientes aqui
      </p>
      <a routerLink="/Clientes" class="btn btn-primary">Ver</a>
    </div>
  </div>
</div>
